TELEGRAM_TOKEN="8695618229:AAG61hhaGr_fsRnlYMTAMWnIjFTLvEYNgFI"
BAKONG_TOKEN="your_bakong_jwt_token"
BANK_ACCOUNT="your_bank_account@bank"
MERCHANT_NAME="EVIL STORE"
MERCHANT_CITY="Phnom Penh"
CURRENCY="USD"
STORE_LABEL="EVIL STORE"
PHONE_NUMBER="85512345678"
TERMINAL_LABEL="Web-01"
TTS_AUTH_HEADER="your_tts_auth_header_key"
TTS_AUTH_VALUE="your_tts_auth_value"
TTS_API_URL="https://tts.example.com/generate-audio"
